@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fredoka+One&display=swap');


html {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif
}

* {
    margin: 0;
    padding: 0;
    color:#1a1a1b;
}



.container {
    display: flex;
    width: 100vw;
    min-width: 350px;
    height: 100vh;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("background.jpg");
    background-size: cover;
    flex: 1;
    padding: 120px 0 120px 0;
}

.logo, .description {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(26, 26, 27, 0.7) 7px 7px 0 1px;
    text-align: center;
    width: fit-content;
    padding: 40px;
}


.logo {
    display: flex;
    justify-content: center;
}


.logo img {
    min-width: 40px;
    width: 3vw;
    margin-right: 13px;
    align-self: center;
    flex: 0 0 auto;
}

.logo h1 {
    display: inline-block;
    font-family: 'Fredoka One', cursive;
    font-size: clamp(2.5rem, 3vw, 4rem);
    letter-spacing: 2px;
    font-weight: normal;
}

.description {
    margin-top: 40px;
}

.description p {
    font-size: clamp(1.25rem, 2.5vw, 1.7rem);
}

.description ul {
    font-size: clamp(1.3rem, 2.5vw, 1.7rem);
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    list-style-type: circle;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkcyan;
    flex: 1;
    padding: 70px;
}

.entry h2, p {
    font-family: 'DM Serif Display', serif;
}

.entry h2 {
    font-size: clamp(1.65rem, 3vw, 4rem);
}

.entry p {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
}

.entry form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width:90%;
}

.form-input label {
    margin-bottom: 5px;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.form-input input {
    border:none;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
}

.form-input input:focus {
    outline: 0;
}

.form-input input:valid {
    outline: 0;
    background-color: rgb(203, 255, 203) ;
}

.showPW {
    display: flex;
    flex-direction: row;
}

.required {
    color: #f15d4f;
}

p.footer {
    margin-top: 20px;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .logo, .description {
        padding: 20px;
    }

    .entry {
        padding: 40px 30px 30px 30px;
    }

    .form-input {
        margin-bottom: 25px;
    }

    .form-input input{
        width: auto;
    }
}